/*jqgrid 表头*/
.ui-jqgrid .ui-jqgrid-htable .ui-th-div {
	height:30px;
	line-height: 30px;
	margin-top:5px;
	display:inine-block;
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight:100 ;
	/*color: #73819A;*/
}
.ui-inline-del.ui-state-hover span, .ui-inline-edit.ui-state-hover span,
.ui-inline-save.ui-state-hover span, .ui-inline-cancel.ui-state-hover span {

	color: red !important;
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	border: 1px solid #e4e4e4;
	background: #f2f2f2;
	font-weight: bold;
	color: #1E1E1E;
	border-radius: 0px;
}

/*jqgrid 外壳*/
.ui-widget-content {
	border: 1px solid #e4e4e4;
	background: #fcfdfd ;
	color: #222222;
	border-radius: 2px;
	z-index:1;
}
/*jqgrid 表格行*/
.ui-jqgrid tr.jqgrow td {
	font-weight: normal;
	overflow: hidden;
	white-space: pre;
	/*height: 30px;*/
	padding: 1px 2px 1px 2px;
	border-bottom-width: 1px;
	border-bottom-color: inherit;
	border-bottom-style: solid;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 14px;
}
/*jqgrid 表格行*/
.ui-jqgrid tr.jqgrow td a{
	color: #0066cc;
}
/*jqgrid 高亮行*/
.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
	border: 1px solid #FFFFCC;
	border-bottom: 1px solid #e4e4e4;
	background: #FFFFCC;
	/*color: #FFFFFF;*/
}

.ui-state-highlight td a,
.ui-widget-content .ui-state-highlight td a,
.ui-widget-header .ui-state-highlight td a{
	/*color: #FFFFFF;*/
}


/*jqgrid 行鼠标*/
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	border: 1px solid #FFFFCC;
	background: #FFFFCC ;
	border-bottom: 1px solid #e4e4e4;
	font-weight: normal;
	/*color: #FFFFFF;*/
}
/*jqgrid 排序图标*/
.ui-jqgrid .ui-icon-asc {margin-top:3px; height:12px;}
.ui-jqgrid .ui-icon-desc {margin-top:10px;margin-left:-1px;height:12px;}
.ui-jqgrid .ui-pg-input, .ui-jqgrid .ui-jqgrid-toppager .ui-pg-input{
	height: 20px;
	border: 1px solid #E4E4E4;
	border-radius: 2px;
}
