<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">
	
	<http entry-point-ref="loginUrlEntryPoint" auto-config="true">
		<intercept-url pattern="/login" access="permitAll()"/>
		<intercept-url pattern="/logout" access="permitAll()"/>
		<intercept-url pattern="/doLogin" access="permitAll()"/>
		
		<!--注册相关-->
		<intercept-url pattern="/org/**" access="permitAll()"/>
		<intercept-url pattern="/dic/datas/byPcode.action" access="permitAll()"/>
		<intercept-url pattern="/dic/datas/byPcode.action" access="permitAll()"/>
		<intercept-url pattern="/user/update/check.action" access="permitAll()"/>
		<intercept-url pattern="/user/create/check.action" access="permitAll()"/>
		
		<!-- 修改密码权限 -->
		<intercept-url pattern="/password/**" access="isAuthenticated()"/>
		
		<!-- 首页面权限 -->
		<intercept-url pattern="/portal/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/portal/kjsleader/**" access="hasAnyRole('ROLE_KJS_LEADER')"/>
		<intercept-url pattern="/portal/kjsexpert/**" access="hasAnyRole('ROLE_KJS_EXPERT')"/>
		<intercept-url pattern="/portal/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/portal/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/portal/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		
		<!-- 用户管理权限 -->
		<intercept-url pattern="/user/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/user/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/user/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		<!-- 数据字典权限 -->
		<intercept-url pattern="/dic/**" access="hasRole('ROLE_KJS_ADMIN')"/>
		
		<!-- 新闻管理权限 -->
		<intercept-url pattern="/news/kjsadmin/**" access="hasRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/news/**" access="isAuthenticated()"/>
		
		<!-- 课题管理权限 -->
		<intercept-url pattern="/subject/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/subject/kjsleader/**" access="hasAnyRole('ROLE_KJS_LEADER')"/>
		<intercept-url pattern="/subject/kjsexpert/**" access="hasAnyRole('ROLE_KJS_EXPERT')"/>
		<intercept-url pattern="/subject/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/subject/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/subject/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		
		<!--403错误页面配置 -->
		<access-denied-handler error-page="/403.jsp"/>
		
		<!--退出登录成功页面 logout必须为POST请求-->
		<logout invalidate-session="true" logout-url="/logout"  logout-success-url="/login" />
		
		<form-login login-page="/login"/>
			
	</http>
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userServiceImpl" >	          
			<password-encoder hash="md5" ref="passwordEncoder" />	           
		</authentication-provider> 
	</authentication-manager>
	<!--密码md5转换-->
	<beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
</beans:beans>