<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd">
	
	<http entry-point-ref="loginUrlEntryPoint" auto-config="true">
		<headers >
			<frame-options policy="SAMEORIGIN"/>
			<!--DENY 拒绝任何-->
			<!--SAMEORIGIN 允许加载本站的-->
			<!--ALLOW-FROM http:* 允许-->
		</headers>
		<!-- 登陆、登出 -->
		<intercept-url pattern="/login" access="permitAll()"/>
		<intercept-url pattern="/logout" access="permitAll()"/>
		<intercept-url pattern="/doLogin" access="permitAll()"/>
		<intercept-url pattern="/download.action" access="isAuthenticated()"/>
		
		<!-- 注册相关-->
		<intercept-url pattern="/regist/**" access="permitAll()"/>
		<intercept-url pattern="/dic/datas/byPcode.action" access="permitAll()"/>
		<intercept-url pattern="/user/update/check.action" access="permitAll()"/>
		<intercept-url pattern="/user/create/check.action" access="permitAll()"/>
		
		<!-- 修改密码权限 -->
		<intercept-url pattern="/password/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/password/kjsleader/**" access="hasAnyRole('ROLE_KJS_LEADER')"/>
		<intercept-url pattern="/password/kjsexpert/**" access="hasAnyRole('ROLE_KJS_EXPERT')"/>
		<intercept-url pattern="/password/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/password/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/password/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		<intercept-url pattern="/password/orgoper/**" access="hasAnyRole('ROLE_ORG_OPER')"/>
		<intercept-url pattern="/password/**" access="isAuthenticated()"/>
		
		<!-- 首页面权限 -->
		<intercept-url pattern="/portal/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/portal/kjsleader/**" access="hasAnyRole('ROLE_KJS_LEADER')"/>
		<intercept-url pattern="/portal/kjsexpert/**" access="hasAnyRole('ROLE_KJS_EXPERT')"/>
		<intercept-url pattern="/portal/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/portal/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/portal/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		<intercept-url pattern="/portal/orgoper/**" access="hasAnyRole('ROLE_ORG_OPER')"/>

		<!-- 课题管理权限 -->
		<intercept-url pattern="/subject/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/subject/kjsleader/**" access="hasAnyRole('ROLE_KJS_LEADER')"/>
		<intercept-url pattern="/subject/kjsexpert/**" access="hasAnyRole('ROLE_KJS_EXPERT')"/>
		<intercept-url pattern="/subject/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/subject/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/subject/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		<intercept-url pattern="/subject/orgoper/**" access="hasAnyRole('ROLE_ORG_OPER')"/>
		
		<!--申报书、任务书下载-->
		<intercept-url pattern="/sbs/download.action" access="isAuthenticated()"/>
		<intercept-url pattern="/rws/download.action" access="isAuthenticated()"/>
		
		<!--申报人-->
		<intercept-url pattern="/subject/proposer/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/subject/proposer/listReadOnly.htm" access="isAuthenticated()"/>
		<intercept-url pattern="/subject/proposer/datas.action" access="isAuthenticated()"/>
		
		<!--预算-->
		<intercept-url pattern="/subject/budget/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/subject/budget/costReadOnly.htm" access="isAuthenticated()"/>
		
		<!--进度安排-->
		<intercept-url pattern="/subject/schedule/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/subject/schedule/kjsleader/**" access="hasAnyRole('ROLE_KJS_LEADER')"/>
		<intercept-url pattern="/subject/schedule/kjsexpert/**" access="hasAnyRole('ROLE_KJS_EXPERT')"/>
		<intercept-url pattern="/subject/schedule/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/subject/schedule/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/subject/schedule/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/subject/schedule/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		<intercept-url pattern="/subject/schedule/orgoper/**" access="hasAnyRole('ROLE_ORG_OPER')"/>
		
		<!--设备-->
		<intercept-url pattern="/subject/device/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/subject/device/kjsleader/**" access="hasAnyRole('ROLE_KJS_LEADER')"/>
		<intercept-url pattern="/subject/device/kjsexpert/**" access="hasAnyRole('ROLE_KJS_EXPERT')"/>
		<intercept-url pattern="/subject/device/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/subject/device/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/subject/device/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/subject/device/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		<intercept-url pattern="/subject/device/orgoper/**" access="hasAnyRole('ROLE_ORG_OPER')"/>
		
		<!--拨款-->
		<intercept-url pattern="/subject/appropriation/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/subject/appropriation/kjsleader/**" access="hasAnyRole('ROLE_KJS_LEADER')"/>
		<intercept-url pattern="/subject/appropriation/kjsexpert/**" access="hasAnyRole('ROLE_KJS_EXPERT')"/>
		<intercept-url pattern="/subject/appropriation/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/subject/appropriation/sboper/**" access="hasAnyRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/subject/appropriation/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/subject/appropriation/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		<intercept-url pattern="/subject/appropriation/orgoper/**" access="hasAnyRole('ROLE_ORG_OPER')"/>
		
		<!-- 新闻管理权限 -->
		<intercept-url pattern="/news/kjsadmin/**" access="hasRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/news/kjsleader/**" access="hasRole('ROLE_KJS_LEADER')"/>
		<intercept-url pattern="/news/kjsexpert/**" access="hasRole('ROLE_KJS_EXPERT')"/>
		<intercept-url pattern="/news/sbadmin/**" access="hasRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/news/sboper/**" access="hasRole('ROLE_SB_OPER')"/>
		<intercept-url pattern="/news/orgadmin/**" access="hasRole('ROLE_ORG_ADMIN')"/>
		<intercept-url pattern="/news/orgoper/**" access="hasRole('ROLE_ORG_OPER')"/>
		<intercept-url pattern="/news/**" access="isAuthenticated()"/>
		
		<!-- 数据字典权限 -->
		<intercept-url pattern="/dic/**" access="hasRole('ROLE_KJS_ADMIN')"/>
		
		<!-- 注册单位管理权限-->
		<intercept-url pattern="/sborg/kjsadmin/**" access="hasRole('ROLE_KJS_ADMIN')"/>
		
		<!-- 组织单位管理权限-->
		<intercept-url pattern="/org/kjsadmin/**" access="hasRole('ROLE_KJS_ADMIN')"/>
		
		<!-- 用户管理、密码重置权限 -->
		<intercept-url pattern="/user/kjsadmin/**" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		<intercept-url pattern="/user/sbadmin/**" access="hasAnyRole('ROLE_SB_ADMIN')"/>
		<intercept-url pattern="/user/orgadmin/**" access="hasAnyRole('ROLE_ORG_ADMIN')"/>
		
		<!--文件上传-->
		<intercept-url pattern="/kjsadmin/upload.action" access="hasAnyRole('ROLE_KJS_ADMIN')"/>
		
		<!-- 403错误页面配置 -->
		<access-denied-handler error-page="/403.jsp"/>
		
		<!-- 退出登录成功页面 logout必须为POST请求-->
		<logout invalidate-session="true" logout-url="/logout"  logout-success-url="/login" />
		
		<form-login login-page="/login"/>
			
	</http>
	<authentication-manager alias="authenticationManager">
		<authentication-provider user-service-ref="userServiceImpl" >
			<password-encoder hash="md5" ref="passwordEncoder" />
		</authentication-provider> 
	</authentication-manager>
	<!--密码md5转换-->
	<beans:bean id="passwordEncoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
</beans:beans>